body {
    background-color: aqua;
    font-family: "Times New Roman", Times, serif;
    height: 100%;
    align-items: center;
}
.container {
    width: 800px;
    margin: 30px auto;
    margin-top:200px;
    color: rgb(0, 0, 0);
    text-align: center;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;

}
#seconds,
#tens {
    font-size: 2em;
}
button {
    width: 150px;
    height: 50px;
    background: whitesmoke;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(36, 0, 121);
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}
button:hover {
    background: rgb(140, 211, 245);
    color: #fc0707;
    font-weight: 800;
    text-transform: capitalize;
}